.avatar-cart {
    width: 35vh;
    height: 35vh;

    image-rendering: pixelated;
    
    border-radius: 1vh;
}

.number {
    text-align: center;

    color: white;

    font-size: 10vh;
    font-weight: bold;
}