.reload-icon {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: 0;
}

.icon {
    margin-top: auto;
    margin-bottom: auto;
}

.flip-image {
    transform: scaleX(-1);
}

@media (prefers-reduced-motion: no-preference) {
    .sync-icon {
        animation: sync-spin infinite 2s linear;
    }
}

@keyframes sync-spin {
    from {
        transform: rotate(30deg) scaleX(-1);
    }
    to {
        transform: rotate(390deg) scaleX(-1);
    }
}