.cart-page {
    background-color: black;

    height: 100vh;
    width: 100vw;

    position: relative;

    display: flex;
    flex-direction: row;

    justify-content: space-around;

    align-items: center;
}

.match-title {
    position: absolute;

    top: 0;

    text-align: center;
    width: 100vw;

    font-size: 10vh;
    color: white;
    font-weight: bold;
}

.fullscreen {
    position: absolute;
    right: 0;
    bottom: 0;
}