/* Height conversion: 6.5/50 */
/* Width conversion: 1/10 */

.top-info {
    display: flex;
    width: 100vw;
    justify-content: space-between;

    align-items: center;
}

.app-container {
    display: flex;

    width: 100vw;
}

.top-text {
    font-size: 3.25vh;

    margin: 1vh 1vw;
    padding-right: 1vw;
    width: 20vw;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--standard-border-radius);

}

.top-text > p {
    margin: 0;
}

.alliances-container {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-top: 1.3vh;
}

.alliance-info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    width: 50vw;

}

.score-results {
    display: flex;
    justify-content: space-around;
    width: 100vw;

    margin-top: 1.3vh;
}

.alliance-score {
    width: 15vw;
    border-radius: var(--standard-border-radius);
    color: white;

    background-color: rgba(0, 0, 0, 0.5);

    align-self: center;

    font-size: 8.45vh;
}

.bottom-content {
    /*margin-top: auto;*/
    margin-bottom: 1.3vh;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width: 100vw;
}

.prediction {
    justify-content: center;

    align-items: center;
}

.bar-wrapper {
    width: 90vw;

    height: 2vh;

    border: 3px solid white;
    border-radius: .75vh;

    overflow: hidden;

    margin-top: 1vh;
}

.bar-container {
    background-color: #0a0aa2;

    height: 100%;
}

.bar-completed {

    background:
            linear-gradient(to right, #ce1111 0%, #ce1111 90%, #0a0aa2 100%);

    height: 100%;
}


.next-match {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding-right: 1vw;
    padding-left: 1vw;

    align-content: center;
    border-radius: var(--standard-border-radius);
}

.next-match-text {
    border-radius: var(--standard-border-radius);

    line-height: 8vh;
    height: 8vh;
    margin-top: var(--next-match-radius);
}

.next-match-time {
    margin-top: 0;

    border-radius: 0 0 var(--next-match-radius) var(--next-match-radius);

    display: inline-block;
}

.next-match-time:before {
    content: "";
    position: absolute;

    background-color: transparent;

    left: calc(var(--next-match-radius) * -1);

    height: calc(var(--next-match-radius) * 2);
    width: var(--next-match-radius);
    border-top-right-radius: var(--next-match-radius);

    box-shadow: 0 calc(var(--next-match-radius) * -1) 0 0 rgba(255, 255, 255, 0.5);

    mix-blend-mode: initial;
}

.next-match-time:after {
    content: "";
    position: absolute;

    background-color: transparent;

    right: calc(var(--next-match-radius) * -1);

    height: calc(var(--next-match-radius) * 2);
    width: var(--next-match-radius);
    border-top-left-radius: var(--next-match-radius);

    box-shadow: 0 calc(var(--next-match-radius) * -1) 0 0 white;
}

.next-match-time-container {
    position: relative;

    display: inline-block;
}

.win {
    background-color: #0fe10f;
}

.loss {
    background-color: #f10b0b;
}

.tossup {
    background-color: yellow;
}

.presented-text {
    position: absolute;

    margin: 0;

    right: 10vw;

    bottom: 3vh;
}

.presented-link {
    color: white;
}

.red-score {
    color: red;
}

.blue-score {
    color: blue;
}

.confetti {
    transition: 2s;
}

.active-con {
    opacity: 1;
}

.inactive-con {
    opacity: 0;
}