/* Height conversion: 6.5/50 */
/* Width conversion: 1/10 */

.top-info {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.top-text {
    font-size: 3.25vh;

    margin-left: 1vw;
    /*margin-right: 1vw;*/
    padding-right: 1vw;

    width: 25vw;
}

.alliances-container {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin-top: 1.3vh;
}

.alliance-info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    width: 50vw;

}

.score-results {
    display: flex;
    justify-content: space-around;
    width: 100vw;

    margin-top: 1.3vh;
}

.alliance-score {
    width: 25vw;
    border-radius: 1.3vh;
    color: white;

    background-color: rgba(0, 0, 0, 0.5);

    font-size: 8.45vh;
}

.bottom-content {
    margin-top: auto;
    margin-bottom: 1.3vh;

    display: flex;
    flex-direction: row;

    justify-content: space-between;


    width: 100vw;
}

.prediction {
    justify-content: center;
}

.win {
    background-color: green;
}

.loss {
    background-color: #930707;
}