.settings-page {
    text-align: center;
    color:white;
    min-height: 100vh;
    background-color: #282c34;
}


.title{
    font-size: 6.5vh;
    padding-bottom: 1.3vh;
    padding-top: 1.3vh;
}

.settings-container {

    margin-top: 2.6vh;

    display: flex;

    align-content: space-around;

    justify-content: center;
}

.color-text {
    margin-top: auto;
    margin-bottom: auto;
}

.color-buttons {
    display: flex;
    flex-direction: column;

    justify-content: space-around;

    margin-left: 2.6vh;
}

.color-button {
    font-size: 2.6vh;

    height: 5vh;
    width: 10vh;

    user-select: none;

    border-radius: 1.3vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.white {
    background-color: white;
    color: black;
}

.white:hover {
    background-color: #d5d5d5;
}

.black {
    background-color: black;
    color: white;
}

.green {
    background-color: green;
}

.green:hover {
    background-color: #016401;
}

.red {
    background-color: red;
}

.red:hover {
    background-color: #b00000;
}

.black:hover {
    background-color: #414141;
}


.input {
    border-radius: 1.3vh;
}

.valid {
    background-color: lightgreen;
}

.color-input {
    height: 5vh;
    font-size: 2.6vh;
    width: 10vw;

    margin-top: auto;
    margin-bottom: auto;
}

.background-input {
    margin-left: 2vw;
}

.bottom-button {
    margin-right: 1vw;
    margin-left: 1vw;

    color: white;
    text-decoration: none;
}

.long {
    width: 40vw;
}

.small-text {
    font-size: 1.3vh;
}

