.header-container {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

h1,h2 {
    margin: 0;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.left-info {
    margin-left: 10px;
    justify-content: left;
    margin-top: auto;
    margin-bottom: auto;
}

.event-title {
    margin-bottom: auto;
    margin-top: auto;
    justify-content: center;
    white-space: nowrap;
}

.settings {
    justify-content: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.settings-icon {
    height: 50%;
    width: auto;
}

.links {
    color: white;
}
