.tilt {
    transform: rotate(-25deg);

    z-index: 10;
    position: absolute;
    /*left: 0;*/
    right: 16%;

    font-family: "minecraft";
    font-size: 15px;

    max-height: 30vh;

    width: min-content;

    top: 15%;

    color:yellow;

}

.splash {
    animation: splash 0.58s infinite;
    -webkit-animation: splash 0.58s infinite;
}

@keyframes splash {
    from {
        transform:scale(0.95)
    }
    50% {
        transform:scale(1)
    }
    to {
        transform:scale(0.95)
    }
}
@-webkit-keyframes splash {
    from {
        -webkit-transform:scale(0.95)
    }
    50% {
        -webkit-transform:scale(1)
    }
    to {
        -webkit-transform:scale(0.95)
    }
}

@font-face {
    font-family: 'minecraft';
    src: local('MyFont'), url(../resources/minecraft-font.woff) format('woff');
}