.reload-icon {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .sync-icon {
        animation: sync-spin infinite 2s linear;
    }
}

@keyframes sync-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}