.team-display {
    padding: 1.5vh 1.5vw 1.5vh 1.5vw;

    border-radius: var(--standard-border-radius);

    min-height: 40vh;
    max-height: 45vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.active {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    border-color: white;
}

.inactive {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-color: black;
}

h2, h3 {
    margin: 0
}

.bot-image {
    width: 10vw;
    height: auto;
    border: 5px solid;
    min-height: 20vh;
    border-radius: var(--standard-border-radius);

    object-fit: cover;
}

.header-info {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.center {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    height: 5vh;
    width: 5vh;

    margin-top: auto;
    margin-bottom: auto;

    border: 3px solid black;
    border-radius: 5px;
}

.small-info-text {
    margin-top: 0;
    margin-bottom: 0;

    color: white;

    /*line-height: 10vh;*/
}

.centered {
    text-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.team-name-container {
    align-self: center;

    width: 11vw;
    height: 2em;
    overflow: hidden;

    position: relative;
}

.team-name {
    align-self: center;

    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.8em;
    max-height: 1.8em;
    white-space: nowrap;

    width: max-content;

}

.rank-text-inactive {
    color: black;
}