.team-display {
    padding: 1.95vh 2.5vw 1.95vh 2.5vw;

    border-radius: 1.3vh;

    min-height: 40vh;
    max-height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.active {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    border-color: white;
}

.inactive {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-color: black;
}

h2, h3 {
    margin: 0
}

.bot-image {
    width: 10vw;
    height: auto;
    border: 5px solid;
    min-height: 20vh;
    border-radius: 1.3vh;
}

.header-info {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.center {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    height: 5vh;
    width: 5vh;

    margin-top: auto;
    margin-bottom: auto;

    border: 3px solid black;
    border-radius: 5px;
}

.upcoming-match {
    margin-top: 0;
    margin-bottom: 0;

    color: white;
}