.App {
  text-align: center;
  color:white;
  height: 100vh;
  background-color: #282c34;
}

.main-app {

  transition: 0.5s;

  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;

  background:
          linear-gradient(to right, #ce1111 0%, #ce1111 50%, transparent 50%, transparent 100%),
          linear-gradient(to left, #0a0aa2 0%, #0a0aa2 50%, transparent 50%, transparent 100%);

}


.next-match {
  background-color: white;
  color: black;
  padding-right: 2vw;
  padding-left: 2vw;

  margin-top: 1.3vh;

  border-radius: 1.3vh;
}
